# Ignore node_modules directories in both client and server
server/node_modules/
client/node_modules/

# Ignore virtual environments in both client and server
server/myenv/
client/myenv/

server/.env

server/ModelServer/myproject/DAENET_RESNET101.keras
server/ModelServer/myproject/DAENET_EffNetB4_Web.keras
# Ignore global node_modules
node_modules/

# Ignore specific Python packages in the server environment
/server/myenv/Lib/site-packages/


# Ignore large files
*.keras
*.dll
*.pyd
*.mp4